//FONT FAMILY
$font_inter : 'Inter', sans-serif;
$font_lexend_deca: 'Lexend Deca', sans-serif;

//COLOR
$dark_blue : hsl(233, 47%, 7%);
$dark_blue_2 : hsl(244, 38%, 16%);

$violet : hsl(277, 64%, 61%);

$white : hsl(0, 0%, 100%);
$white_2 : hsla(0, 0%, 100%, 0.75);
$white_3 : hsla(0, 0%, 100%, 0.6);

